<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Product Finder</title>
</head>

<body>
    <div class="spacer-50"></div>

    <div class="container-1-1-1">
        <a class="title-link title-font" href="/">Product Finder</a>
        <div></div>
        <div></div>
    </div>

    <main>
        {{{body}}}
    </main>

    <div class="spacer-50"></div>

</body>

</html>