<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Product Finder</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function enableuser(userId) {
            // alert(userId);
            $.ajax({
                type: 'POST',
                url: "/enableuser",
                data: { userId },
                success: function (resultData) {
                    alert(resultData)
                    location.reload();
                }
            });
        }
        function removeuser(userId) {
            // alert(userId);
            $.ajax({
                type: 'POST',
                url: "/removeuser",
                data: { userId },
                success: function (resultData) {
                    alert(resultData)
                    location.reload();
                }
            });
        }
    </script>
</head>

<body>
    <div class="spacer-50"></div>

    <div class="container-1-1-1">
        <a class="title-link title-font" href="/">Product Finder</a>
        <div></div>
        <div></div>
    </div>

    <main>
        {{{body}}}
    </main>

    <div class="spacer-50"></div>

</body>


</html>