<div class="subtitle-font">Administration</div>
<div class="spacer-75"></div>
<div class="container-1-3-1">

    <div></div>
    <div>
        <form action="/" method="POST"></form>
        <div class="container-2-1">
            <div>
                <div class="pl">Retail User Email Address</div>
                <input name="searchBox" class="searchBox" type="text" />
            </div>
            <div>
                <div class="pl">&nbsp;</div>
                <button class="searchButton" type="submit">Search</button>
            </div>
        </div>
        </form>
    </div>
    <div></div>

</div>
<div class="spacer-50"></div>
<hr />
<div class="container-1-3-1-1-1-1">

    {{#each users}}
    <div></div>
    <div class="center-vertical">{{this.email}}</div>
    {{#if this.isActive}}
    <div class="color-enabled center-content">enabled</div>
    {{else}}
    <div class="color-disabled center-content">disabled</div>
    {{/if}}

    <div><button class="my-5" type="button" onclick="enableuser({{this.userId}})">enable-disable</button></div>
    <div><button class="my-5" type="button" onclick="removeuser({{this.userId}})">remove</button></div>
    <div></div>
    {{/each}}
</div>

<hr />