<div class="subtitle-font">Simulation Link</div>
<div class="spacer-75"></div>
<div class="container-1-1-1"></div>
<div></div>
<div class="center-content">
    <a class="remove-decoration mt-10" href="/retail">
        <div class="btn center-content width-150">I'm a Retail User</div>
    </a>
    &nbsp;&nbsp;&nbsp;
    <a class="remove-decoration mt-10" href="/admin">
        <div class="btn center-content width-150">I'm an Admin</div>
    </a>
</div>
<div></div>