<div class="subtitle-font">Retail Dashboard</div>
<div class="spacer-75"></div>
<div class="container-1-3-1">

    <div></div>
    <div>
        <form action="/" method="POST"></form>
        <div class="container-2-1">
            <div>
                <div class="pl">Find existing products with SKU, keywords<br /> or description words</div>
                <input name="searchBox" class="searchBox" type="text" />
            </div>
            <div>
                <div class="pl">&nbsp;<br />&nbsp;</div>
                <button class="searchButton" type="submit">Search</button>
            </div>
        </div>
        </form>
    </div>
    <div></div>

</div>
<div class="spacer-50"></div>
<hr />
<div class="container-1-1-3-1-1 view-header bg-odd">

    <div>SKU</div>
    <div>Keywords</div>
    <div>Description</div>
    <div>Product URL</div>
    <div>Action</div>

</div>
<form class="bg-add">
    <div class="container-1-1-3-1-1">

        <div>
            <textarea class="textBox" placeholder="SKU"></textarea>
        </div>
        <div>
            <textarea class="textBox" placeholder="Keywords"></textarea>
        </div>
        <div>
            <textarea class="textBox" placeholder="Description"></textarea>
        </div>
        <div>
            <textarea class="textBox" placeholder="Product URL"></textarea>
        </div>

        <div class="center-content"><button type="button">&nbsp;add&nbsp;new&nbsp;</button>&nbsp;&nbsp;<button
                type="button">clear</button></div>

    </div>
</form>
<div class="search-view">


    <form>
        <div class="container-1-1-3-1-1">
            <div><textarea class="textBox">X1234567</textarea></div>
            <div><textarea class="textBox">xbox limited edition</textarea></div>
            <div><textarea class="textBox">Xbox System - Mountain Dew Limited Edition</textarea></div>
            <div><textarea
                    class="textBox">https://www.lukiegames.com/Limited-Edition-Mountain-Dew-Xbox-System</textarea>
            </div>
            <div class="center-content"><button type="button">update</button>&nbsp;&nbsp;<button
                    type="button">remove</button></div>
        </div>
    </form>


</div>
<hr />