/* CSS reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.container-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container-1-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container-2-1{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.container-1-3-1{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.container-2-5-1{
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
}

.container-2-5-1 > div:nth-child(6n+1),
.container-2-5-1 > div:nth-child(6n+2),
.container-2-5-1 > div:nth-child(6n+3) {
    background-color:beige;
}

.container-2-5-1 > div:nth-child(6n+4),
.container-2-5-1 > div:nth-child(6n+5),
.container-2-5-1 > div:nth-child(6n+6) {
    background-color:bisque;
}

.container-1-1-3-1-1{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container-1-1-3-1-1 > div{
    padding: 5px;
}


.container-1-3-1-1-1-1{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
}

.container-1-3-1-1-1-1> div:nth-child(12n+1),
.container-1-3-1-1-1-1> div:nth-child(12n+2),
.container-1-3-1-1-1-1> div:nth-child(12n+3),
.container-1-3-1-1-1-1> div:nth-child(12n+4),
.container-1-3-1-1-1-1> div:nth-child(12n+5),
.container-1-3-1-1-1-1> div:nth-child(12n+6) {
    background-color:aliceblue; 
}

.container-1-3-1-1-1-1> div:nth-child(12n+7),
.container-1-3-1-1-1-1> div:nth-child(12n+8),
.container-1-3-1-1-1-1> div:nth-child(12n+9),
.container-1-3-1-1-1-1> div:nth-child(12n+10),
.container-1-3-1-1-1-1> div:nth-child(12n+11),
.container-1-3-1-1-1-1> div:nth-child(12n+12) {
    background-color:azure;
}

.search-view > form:nth-child(odd){
    background-color: navajowhite; 
}

.search-view > form:nth-child(even){
    background-color: palegoldenrod;
}

.bg-odd{
    background-color: navajowhite; 
}

.center-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-vertical{
    display: flex;   
    align-items: center;
}


.title-font{
    font-size: 40px;
    padding: 0px 20px;
}

.title-link{
    text-decoration: none;
    color: black;
}

.textBox{
    text-decoration: none;
    background-color:transparent;
    width: 100%;
    height: 75px;
    overflow: auto;
    resize: none;
    border: 1px solid silver;
}

.subtitle-font{
    font-size: 26px;
    padding: 0px 20px;
}

.searchBox{
    width: 95%;  
    height: 33px;
}

.searchButton{
    width: 200px;
    height: 33px;
}

.h-33{
    height: 33px;
}

.description{
    overflow: auto;
    max-height: 75px;
}

.bg-add{
    background-color: lavender;
}

.view-header > div{
    text-align: center
}

.ib{
    display: inline-block;
}

.pl{
    padding: 8px 0px;
}

.pl-30{
    padding-left: 30px;
}

.label-1{
    padding: 10px 0px;
}

.b-1{
    border: 1px solid blue;
    border-radius: 8px;
}

.p-20{
    padding: 20px;
}

.my-5{
    margin-bottom: 5px;
    margin-top: 5px;
}

.mt-10{
    margin-top: 10px;
}

.m-10{
    margin: 10px;
}

.w-100p{
    width: 100%;
}

.width-150{
    width: 150px;
}

.spacer-25{
    height: 25px;
}

.spacer-50{
    height: 50px;
}

.spacer-75{
    height: 75px;
}

.color-enabled{
    color: green;
}

.color-disabled{
    color: red;
}

.remove-decoration{
    text-decoration: none;
    outline: none;
}

.login-disclaim{
    line-height: 1.6;
    font-size: 0.8rem;
}

.signinbtn {
    position: absolute;
    top: 10px;
    right :10px;
    }

    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');

body {
    background-color: #E7E9F5;
    font-family: 'Heebo', sans-serif
}

.card {
    width: 800px;
    border: none;
    border-radius: 20px
}

.form-control {
    border-radius: 7px;
    border: 1.5px solid #E3E6ED
}

input.form-control:focus {
    box-shadow: none;
    border: 1.5px solid #E3E6ED;
    background-color: #F7F8FD;
    letter-spacing: 1px
}

.btn-primary {
    background-color: #5878FF !important;
    border-radius: 7px
}

.btn-primary:focus {
    box-shadow: none
}

.text {
    font-size: 13px;
    color: #9CA1A4
}

.price {
    background: #F5F8FD;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 97px
}

.flex-row {
    border: 1px solid #F2F2F4;
    border-radius: 10px;
    margin: 0 1px 0
}

.flex-column p {
    font-size: 14px
}

span.mb-2 {
    font-size: 12px;
    color: #8896BD
}

h5 span {
    color: #869099
}

@media screen and (max-width: 450px) {
    .card {
        display: flex;
        justify-content: center;
        text-align: center
    }

    .price {
        border: none;
        margin: 0 auto
    }
}